{% load static %} {% include 'admin/nav.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Templates</h4>
            <p class="card-description">Describe Templates</p>
            <form
              class="forms-sample"
              ction="{% url 'add_template' %}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}

              <!-- category -->
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="category" id="catageory_select" data-sub-category-url="{% url 'load_sub_category' %}"  >
                    <option value="">--Select--</option>
                    {% for cat in cat %}
                    <option value="{{cat.id}}">{{cat.category}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
              <script>
                $("#catageory_select").change(function () {
                  var url = $("#catageory_select").attr("data-sub-category-url"); 
                  var cat = $(this).val();
                  $.ajax({
                    url: url, 
                    data: {
                      cat: cat,
                    },
                    success: function (data) {
                      $("#id_sub_category").html(data);
                    },
                  });
                //https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html  
                });
              </script>

<!-- sub category  -->
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sub Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="sub_category" id="id_sub_category" data-child-category-url = "{% url 'load_child_category' %}" >
                  <option value="">--Select--</option>
                    {% for sub_cat in sub_cat %}
                    <option value="{{sub_cat.id}}">
                      {{sub_cat.sub_category}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <script>
                $("#id_sub_category").change(function () {
                  var url = $("#id_sub_category").attr("data-child-category-url"); 
                  var sub_cat = $(this).val();
                  $.ajax({
                    url: url, 
                    data: {
                      sub_cat: sub_cat,
                    },
                    success: function (data) {
                      $("#id_child_category").html(data);
                    },
                  });
                //https://simpleisbetterthancomplex.com/tutorial/2018/01/29/how-to-implement-dependent-or-chained-dropdown-list-with-django.html  
                });
              </script>

<!-- child category -->
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Child Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="child_category" id ="id_child_category">
                    <option value="">--Select--</option>
                    {% for child_cat in child_cat %}
                    <option value="{{child_cat.id}}">
                      {{child_cat.child_category}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Template Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="Template Name"
                  required
                  name="template_name"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Template Details</label>
                <textarea class="summernote" name="template_details" ></textarea>

              </div>
              <div class="form-group">
                <label for="exampleInputEmail1">Template Features</label>
                <textarea class="summernote" name="template_features" ></textarea>
              </div>

              <div class="form-group">
                <label for="exampleInputEmail1">Template Layout</label>
                <textarea class="summernote" name="template_layout" ></textarea>
              </div>
              
              <!-- <div class="form-group">
                <label for="exampleInputPassword1">Template Details</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Template Details"
                  required
                  name="template_details"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputConfirmPassword1"
                  >Template Features</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputConfirmPassword1"
                  placeholder="Template Features"
                  required
                  name="template_features"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Template Layout</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Template Layout"
                  required
                  name="template_layout"
                />
              </div> -->
              <div class="form-group">
                <label for="exampleInputPassword1">Template Price</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="Template Price"
                  required
                  name="template_price"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Template Version</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Template Version"
                  required
                  name="version"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Frameworks Used</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Frameworks Used"
                  required
                  name="framework"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Template URL</label>
                <input
                  type="url"
                  class="form-control"
                  placeholder="Template URL"
                  required
                  name="template_url"
                />
              </div>
              <div class="form-group">
                <label>Template Image</label>
                <div class="input-group col-xs-12">
                  <input
                    type="file"
                    class="form-control file-upload-info"
                    placeholder="Upload Image"
                    required
                    name="template_image"
                    required
                  />
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <label class="form-check-label">
                    <input type="checkbox" class="form-check-input" name="is_featured" value="1"> Is Featured </label>
                </div>
              </div>
              


              <button type="submit" class="btn btn-gradient-primary me-2">
                Submit
              </button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'admin/footer.html' %}
