{% load static %}
{% include 'admin/nav.html' %}
<div class="main-panel">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Category</h4>
       
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Icon</th>
                  <th> Category Name</th>
                  <th> Status </th>
                  <th> Order</th>
                  <th>Date Added</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for category in category %}
                <tr>
                  <td class="py-1">
                    <img src="{{category.category_image.url}}" alt="image" />

                  </td>
                  <td>{{category.category}} </td>
                  <td>
                    {% if category.status == 0 %}
                    inactive
                    {% else %}
                    active
                    {% endif %}
                  </td>
                  <td> {{category.order}}</td>
                  <td>{{category.created.date}}</td>
                  <td><a href=""> Edit</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <span class="nav-link">
        <a href="{% url 'add_category' %}">
        <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add Category</button>
    </a>
    </span>
</div>

{% include 'admin/footer.html' %}s