{% load static %} {% include 'admin/nav.html' %}
<div class="main-panel">
  <div class="content-wrapper">
    <div class="row">
      <div class="col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Add Templates</h4>
            <p class="card-description">Describe Templates</p>
            <form
              class="forms-sample"
              ction="{% url 'add_template' %}"
              method="post"
              enctype="multipart/form-data"
            >
              {% csrf_token %}
                


              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="category">
                    {% for cat in cat %}
                    <option value="{{cat.id}}">{{cat.category}}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>

              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Sub Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="sub_category">
                    {% for sub_cat in sub_cat %}
                    <option value="{{sub_cat.id}}">
                      {{sub_cat.sub_category}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div>


              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Child Category</label>
                <div class="col-sm-9">
                  <select class="form-control" name="child_category">
                    {% for child_cat in child_cat %}
                    <option value="{{child_cat.id}}">
                      {{child_cat.child_category}}
                    </option>
                    {% endfor %}
                  </select>
                </div>
              </div> 

              <div class="form-group">
                <label for="exampleInputEmail1">Template Name</label>
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputEmail1"
                  placeholder="{{template_data.template_name}}"
                  value="{{template_data.template_name}}"
                  required
                  name="template_name"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Template Details</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{template_data.template_details}}"
                  value="{{template_data.template_details}}"
                  required
                  name="template_details"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputConfirmPassword1"
                  >Template Features</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="exampleInputConfirmPassword1"
                  placeholder="{{template_data.template_features}}"
                  value="{{template_data.template_features}}"
                  required
                  name="template_features"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Template Layout</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{template_data.template_layout}}"
                  value="{{template_data.template_layout}}"
                  required
                  name="template_layout"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Template Price</label>
                <input
                  type="number"
                  class="form-control"
                  placeholder="{{template_data.template_price}}"
                  value="{{template_data.template_price}}"
                  required
                  name="template_price"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">Template Version</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{template_data.version}}"
                  value="{{template_data.version}}"
                  required
                  name="version"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Frameworks Used</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="{{template_data.framework}}"
                  value="{{template_data.framework}}"
                  required
                  name="framework"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">Template URL</label>
                <input
                  type="url"
                  class="form-control"
                  placeholder="{{template_data.template_url}}"
                  value="{{template_data.template_url}}"
                  required
                  name="template_url"
                />
              </div>
              <button type="submit" class="btn btn-gradient-primary me-2">
                Submit
              </button>
              
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% include 'admin/footer.html' %}
