{% load static %}
{% include 'admin/nav.html' %}
<div class="main-panel">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Sub Category</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Category</th>
                  <th> Sub Category</th>
                  <th> Status </th>
                  <th> Order</th>
                  <th>Date Added</th>
                </tr>
              </thead>
              <tbody>
                {% for sub_category in sub_category %}
                <tr>
                  <td class="py-1">
                    {{sub_category.category}}
                  </td>
                  <td>{{sub_category.sub_category}} </td>
                  <td>
                    {% if sub_category.status == 0 %}
                    inactive
                    {% else %}
                    active
                    {% endif %}
                  </td>
                  <td> {{sub_category.order}}</td>
                  <td>{{sub_category.created.date}}</td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <span class="nav-link">
        <a href="{% url 'add_sub_category' %}">
        <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add Sub Category</button>
    </a>
    </span>
</div>

{% include 'admin/footer.html' %}s