{% load static %}
{% include 'admin/nav.html' %}
<div class="main-panel">
    <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Templates</h4>
            
            </p>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th> Category</th>
                  <th> Template Name</th>
                  <th> Price </th>
                  <th> Frameworks</th>
                  <th>Template Link</th>
                  
                </tr>
              </thead>
              <tbody>
                {% for template in template %}
                <tr>
                  <td>{{template.category}} </td>
                  <td>{{template.template_name}} </td>
                  <td>
                    Rs.{{template.template_price}}
                  </td>
                  <td> {{template.framework}}</td>
                  <td><a href="{{template.template_url}}" target="_blank">Live Preview</a></td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <span class="nav-link">
        <a href="{% url 'add_template' %}">
        <button class="btn btn-block btn-lg btn-gradient-primary mt-4">+ Add Template</button>
    </a>
    </span>
</div>

{% include 'admin/footer.html' %}s