{% include 'header.html' %}
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<section class="category__area pt-105 pb-135">
  <div class="container">
    <section>
      <!--for demo wrap-->
      <h1>Verify your templates</h1>
      <div class="tbl-header">
        <table cellpadding="0" cellspacing="0">
          <thead>
            <tr>
              <th>Template Code</th>
              <th>Template Name</th>
              <th>Template Category</th>
              <th>Price</th>
            </tr>
          </thead>
        </table>
      </div>
      <div class="tbl-content">
        <table cellpadding="0" cellspacing="0">
          <tbody>
            {% for carts in carts %}
            <tr>
              <td>{{carts.template.id}}</td>
              <td>{{carts.template}}</td>
              <td>{{carts.template.category}}</td>
              <td>{{carts.template.template_price}}</td>
            </tr>
            <tr></tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
      <p>Sub total : {{sub_total}}</p>
      <form method="POST" action="">
        {% csrf_token %}
        <label for="">Promo Code</label>
        <input type="text" name="promo_code" value="{{promo_code}}" />
        <button type="submit">APPLY</button>
      </form>
      <p>Discount Amount:{{discount_amt}}</p>
      <p>Total:{{total}}</p>
      <p>Tax amount: {{tax_amt}}</p>
      <p>Grand total:{{grand_total}}</p>

      <div class="col-xxl-12">
        <div class="category__more mt-30 text-center">
          <div class="m-btn m-btn-2">
            <span id="payment-button"> Pay with khalti </span></a
          >
        </div>
        <div class="category__more mt-30 text-center">
          <a href="{% url 'cart' %}" class="m-btn m-btn-2">
            <span></span> Back to Cart</a
          >
        </div>
      </div>
      <script>
        var config = {
          // replace the publicKey with yours
          publicKey: "test_public_key_c3f2aeb09373408e8510688a7af3ae5e",
          productIdentity: "{{carts}}",
          productName: "Tempelates",
          productUrl: "http://gameofthrones.wikia.com/wiki/Dragons",
          paymentPreference: [
            "KHALTI",
            "EBANKING",
            "MOBILE_BANKING",
            "CONNECT_IPS",
            "SCT",
          ],
          eventHandler: {
            onSuccess(payload) {
              // hit merchant api for initiating verfication
              console.log(payload)

              axios.get("{% url 'khaltiverify' %}",{params:{...payload,order_id:"{{carts}}"},}).then(function(resp){
                if (resp.data.success == true){
                    alert("Thanks. Payment Completed Successfully")
                    location.href = "/"
                }else{
                    alert("Sorry. Error occurred")
                    location.href = "{{request.build_absolute_uri}}"
                }
            })
            },
            onError(error) {
              console.log(error,"Error occured");
            },
            onClose() {
              console.log("widget is closing");
            },
          },
        };

        var checkout = new KhaltiCheckout(config);
        var btn = document.getElementById("payment-button");
        btn.onclick = function () {
          // minimum transaction amount must be 10, i.e 1000 in paisa.
          checkout.show({ amount: {{grand_total}} *100 });
        };
      </script>
    </section>
    <style>
      h1 {
        font-size: 30px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
        font-weight: 300;
        text-align: center;
        margin-bottom: 15px;
      }
      table {
        width: 100%;
        table-layout: fixed;
      }
      .tbl-header {
        background-color: rgba(255, 255, 255, 0.3);
      }
      .tbl-content {
        overflow-x: auto;
        margin-top: 0px;
        border: 1px solid rgba(255, 255, 255, 0.3);
      }
      th {
        padding: 20px 15px;
        text-align: left;
        font-weight: 500;
        font-size: 12px;
        color: rgb(0, 0, 0);
        text-transform: uppercase;
      }
      td {
        padding: 15px;
        text-align: left;
        vertical-align: middle;
        font-weight: 300;
        font-size: 12px;
        color: rgb(0, 0, 0);
        border-bottom: solid 1px rgba(255, 255, 255, 0.1);
      }
    </style>
  </div>
</section>
{% include 'footer.html' %}
