{% include 'header.html' %}
<script src="https://khalti.s3.ap-south-1.amazonaws.com/KPG/dist/2020.12.17.0.0.0/khalti-checkout.iffe.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<section class="category__area pt-105 pb-135">
  <div class="container">
    <section>
      <!--for demo wrap-->
      <h1>Verify your templates</h1>
      <div class="tbl-header overflow-auto">
        <table
          cellpadding="0"
          cellspacing="0"
          class="table table-striped table-sm w-900"
        >
          <thead>
            <tr>
              <th scope="col">Template Code</th>
              <th scope="col">Template Name</th>
              <th scope="col">Is taxable</th>
              <th scope="col">Template Category</th>
              <th scope="col">Price</th>
            </tr>
          </thead>

          <tbody>
            {% for carts in carts %}
            <tr>
              <th scope="row">{{carts.template.id}}</th>
              <td>{{carts.template}}</td>
              <td>{{carts.template.is_taxable}}</td>
              <td>{{carts.template.category}}</td>
              <td>{{carts.template.template_price}}</td>
            </tr>

            {% endfor %}

            <form method="POST" action="">
              {% csrf_token %}
              <tr class="border-none">
                <td></td>
                <td></td>
                <td></td>
                <td>Sub total :</td>
                <td>{{sub_total}}</td>
              </tr>
              <tr class="border-none">
                <td></td>
                <td></td>
                <td></td>
                <td>Tax amount:</td>
                <td>{{tax_amt}}</td>
              </tr>
              <tr class="border-none">
                <td></td>
                <td></td>
                <td></td>
                <td>Total:</td>
                <td>{{total}}</td>
              </tr>
              <tr class="border-none">
                <td id="form__promo" class="form-label">Promo Code</td>
                <td class="row">
                  <input
                    type="text"
                    id="form__promo"
                    name="promo_code"
                    value="{{promo_code.promo_code}}"
                    class="form-control col"
                  />
                  <div class="col"></div>
                </td>
                <td>
                  <button class="m-btn m-btn-2" type="submit">APPLY</button>
                </td>
                <td>Discount Amount:</td>
                <td>{{discount_amt}}</td>
              </tr>
              <tr class="border-none">
                <td></td>
                <td></td>
                <td></td>
                <td>Grand total:</td>
                <td>{{grand_total}}</td>
              </tr>
            </form>
          </tbody>
        </table>
      </div>
      <div class="d-flex w-auto">
        <div class="x-4 my-3">
          <span id="payment-button" class="m-btn m-btn-2">
            Pay with khalti
          </span>
        </div>
        <div class="px-4 my-3">
          <a href="{% url 'cart' %}" class="m-btn m-btn-2"> Back to Cart</a>
        </div>
        <script>
          var config = {
            // replace the publicKey with yours
            publicKey: "test_public_key_4b2b30a8959c417e950fb359ad9def98",
            productIdentity: "order_{% for cart in carts %}{{cart.id}}{% endfor %}",
            productName: "Tempelates",
            productUrl: "http://spellsoft.com/",
            paymentPreference: [
              "KHALTI",
              "EBANKING",
              "MOBILE_BANKING",
              "CONNECT_IPS",
              "SCT",
            ],
            eventHandler: {
              onSuccess(payload) {
                // hit merchant api for initiating verfication
                console.log(payload)

                axios.get("{% url 'khaltiverify' %}" , {params:{
                    "token": payload.token,
                    "amount": payload.amount,
                    order_id:"{% for cart in carts %}{{cart.id}}{% endfor %}--{{request.user.id}}",
                    discount:"{{discount_amt}}",
                    user:"{{request.user.id}}"
                }
                }).then(function(resp){
                  if (resp.data.success == true){
                      alert("Thanks. Payment Completed Successfully")
                      location.href = "{% url 'purchase_summary' %}"
                  }else{
                      alert("Payment not sucessfull")
                      location.href = "{{request.build_absolute_uri}}"
                  }
              })
              },
              onError(error) {
                console.log(error,"Error occured");
              },
              onClose() {
                console.log("widget is closing");
              },
            },
          };

          var checkout = new KhaltiCheckout(config);
          var btn = document.getElementById("payment-button");
          btn.onclick = function () {
            checkout.show({ amount: {{grand_total}} *100 });
          };
        </script>
      </div>
    </section>
    <style>
      .border-none {
        border: 0 solid white !important;
      }
      .w-900 {
        min-width: 900px;
      }
    </style>
    {% include 'footer.html' %}
  </div>
</section>
