{% include 'header.html' %}
{% load static %}
<main>

    <!-- bg shape area start -->
    <div class="bg-shape">
        <img src="{% static 'assets/img/shape/shape-1.png' %}" alt="spellsoft">
    </div>
    <!-- bg shape area end -->

    <!-- contact area start -->
    <section class="contact__area pt-105 pb-145">
        <div class="contact__shape">
            <img class="man-1" src="{% static 'assets/img/icon/sign/man-1.png' %}" alt="spellsoft">
            <img class="circle" src="{% static 'assets/img/icon/sign/circle.png' %}" alt="spellsoft">
            <img class="zigzag" src="{% static 'assets/img/icon/sign/zigzag.png' %}" alt="spellsoft">
            <img class="dot" src="{% static 'assets/img/icon/sign/dot.png' %}" alt="spellsoft">
            <img class="bg" src="{% static 'assets/img/icon/sign/sign-up.png' %}" alt="spellsoft">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page__title-wrapper mb-55">
                        <h2 class="page__title-2">Leave Us a Message.</h2>
                        <p>If you have any questions or need assistance, don't hesitate to reach out to our friendly support team. We're here to help!</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-7 col-xl-7">
                    <div class="contact__wrapper  white-bg">
                        <div class="contact__form">
                            <form action="{% url 'contact' %}" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Full Name</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Full name" name="name">
                                                <i class="fal fa-user"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Email</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="e-mail address" name="email">
                                                <i class="fal fa-envelope"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Subject</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Subject" name="subject">
                                                <i class="fal fa-smile"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Contact Number</h5>
                                            <div class="contact__input">
                                                <input type="text" placeholder="Contact Number" name="contact">
                                                <i class="fal fa-phone"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-12">
                                        <div class="contact__input-wrapper mb-25">
                                            <h5>Message</h5>
                                            <div class="contact__input textarea">
                                                <textarea placeholder="Tell us a bil about your project"
                                                    name="message"></textarea>
                                                <i class="fal fa-comment"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xxl-12">
                                        <button type="submit" class="m-btn m-btn-4"> <span></span> submit </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-5 col-xl-5">
                    <div class="contact__map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3532.5656248255686!2d85.33349881541531!3d27.699817232428952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39eb19291015ade1%3A0xa655f212b3dce4a7!2sSpell%20Innovation!5e0!3m2!1sen!2snp!4v1669267716792!5m2!1sen!2snp"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact area end -->

    <!-- contact info area start -->
    <section class="contact__info pt-20 pb-120">
        <div class="contact__info-shape">
            <img src="{% static 'assets/img/icon/contact/contact-bg.png' %}" alt="spellsoft">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xxl-12">
                    <div class="page__title-wrapper text-center mb-55">
                        <h2 class="page__title-2">We'd love to <br>hear from you</h2>
                        <p>Stay in touch with us</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="contact__item text-center white-bg mb-30 transition-3">
                        <div class="contact__icon mb-30 d-flex justify-content-center align-items-center">
                            <img src="{% static 'assets/img/icon/contact/office.png' %}" alt="spellsoft">
                        </div>
                        <div class="contact__content">
                            <h4 class="contact__content-title">Mid-Baneshwor 10</h4>
                            <h4 class="contact__content-title">Kathmandu, Nepal</h4>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="contact__item text-center white-bg mb-30 transition-3">
                        <div class="contact__icon mb-30 d-flex justify-content-center align-items-center">
                            <img src="{% static 'assets/img/icon/contact/mail.png' %}" alt="spellsoft">
                        </div>
                        <div class="contact__content">
                            <h4 class="contact__content-title"><a
                                    href="support@spellinnovation.com">support@spellinnovation.com</a></h4>
                            <h4 class="contact__content-title"><a
                                    href="support@spellinnovation.com">info@spellinnovation.com</a></h4>
                        </div>
                    </div>
                </div>
                <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
                    <div class="contact__item text-center white-bg mb-30 transition-3">
                        <div class="contact__icon mb-30 d-flex justify-content-center align-items-center">
                            <img src="{% static 'assets/img/icon/contact/phone.png' %}" alt="spellsoft">
                        </div>
                        <div class="contact__content">
                            <h4 class="contact__content-title"><a href="tel+(977) 9801047737">+(977) 9801047737</a>
                            </h4>
                            <h4 class="contact__content-title"><a href="tel:+(977) 015910781">+(977) 01-5910781</a>
                            </h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- contact info area end -->

</main>
{% include 'footer.html' %}