{% load static %}
{% include 'nav.html' %}
{% include 'meta/home_meta.html' %}
{% include 'header.html' %}
<main>
  
  <!-- hero area start -->
  <section class="hero__area hero__height grey-bg-3 d-flex align-items-center">
    <div class="hero__shape">
      <img
        class="circle"
        src="{% static 'assets/img/icon/hero/hero-circle.png' %}"
        alt="circle"
      />
      <img
        class="circle-2"
        src="{% static 'assets/img/icon/hero/hero-circle-2.png' %}"
        alt="circle"
      />
      <img
        class="square"
        src="{% static 'assets/img/icon/hero/hero-square.png' %}"
        alt="circle"
      />
      <img
        class="square-2"
        src="{% static 'assets/img/icon/hero/hero-square-2.png' %}"
        alt="circle"
      />
      <img
        class="dot"
        src="{% static 'assets/img/icon/hero/hero-dot.png' %}"
        alt="circle"
      />
      <img
        class="triangle"
        src="{% static 'assets/img/icon/hero/hero-triangle.png' %}"
        alt="circle"
      />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8 col-sm-8">
          <div class="hero__content">
            <h1 class="hero__title">
              <span>Explore our</span>
                Collection of Templates!
            </h1>
            <p>
              We have a wide variety of templates available to suit any of your needs.
            </p>
            <div class="hero__search">
              <form action="{% url 'theme' %}" method="GET">
                <div class="hero__search-inner d-xl-flex">
                  <div class="hero__search-input">
                    <span><i class="far fa-search"></i></span>
                    <input
                      type="text"
                      placeholder="Search for templates"
                      name="query"
                    />
                  </div>
                  <button type="submit" class="m-btn ml-20">
                    <span></span> search
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 overflow-hidden">
          <div class="hero__thumb-wrapper scene ml-70">
            <div class="hero__thumb one d-none d-lg-block">
              <img
                class="layer"
                data-depth="0.2"
                src="{% static 'assets/img/index/image_370.png' %}"
                alt="spellsoft"
              />
            </div>
            <div class="hero__thumb two">
              <img
                class="layer"
                data-depth="0.3"
                src="{% static 'assets/img/index/image_260.png' %}"
                alt="spellsoft"
              />
            </div>
            <div class="hero__thumb three">
              <img
                class="layer"
                data-depth="0.4"
                src="{% static 'assets/img/index/image_220.png' %}"
                alt="spellsoft"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- hero area end -->

  <!-- category area start -->
  <section class="category__area pt-105 pb-135">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="section__title-wrapper text-center mb-60">
            <h2 class="section__title">
              Browse <br />
              Popular Categories
            </h2>
            <p>Browse through our extensive selection of popular categories in the template and theme market and uncover the ideal
              designs and solutions customized to meet your specific requirements.<br><br> We take pride in offering a diverse collection
             of categories that cater to a wide range of interests, preferences, and industries. Explore our popular categories and discover the perfect templates and
              themes to elevate your online presence and captivate your audience."</p>
          </div>
        </div>
      </div>
      <div class="row">
        {% for category in category %}
        <div class="col-xxl-3 col-xl-3 col-md-6 col-sm-6">
          <div
            class="category__item transition-3 text-center white-bg mb-30 wow fadeInUp"
            data-wow-delay=".3s"
          >
            <div class="category__icon mb-25">
              <a href="#"
                ><img src="{{category.category_image.url}}" alt="spellsoft"
              /></a>
            </div>
            <div class="category__content">
              <h3 class="category__title">{{category.category}}</h3>
              <a href="{% url 'theme' %}" class="link-btn">
                <i class="far fa-long-arrow-right"></i>
                Learn More
              </a>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="row">
        <div class="col-xxl-12">
          <div class="category__more mt-30 text-center">
            <a href="{% url 'categories' %}" class="m-btn m-btn-2">
              <span></span> View all categories</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- category area end -->

  <!-- trending area start -->
  {% if fet_temp %}
  <section class="trending__area pt-110 pb-110 grey-bg">
    <div class="container">
      <div class="row align-items-end">
        <div class="col-xxl-6 col-xl-6 col-lg col-md-8">
          <div class="section__title-wrapper mb-50">
            <h2 class="section__title">
              Trending <br />
              Landmark Themes
            </h2>
          </div>
        </div>
        <div class="col-xxl-6 col-xl-6 col-lg col-md-4">
          <div class="trending__more d-flex justify-content-md-end mb-50">
            <a href="{% url 'theme' %}" class="m-btn m-btn-border"
              ><span></span>Explore Templates</a
            >
          </div>
        </div>
      </div>
      <div class="row">
        {% for fet_temp in fet_temp %}
        <div class="col-xxl-4 col-xl-4 col-lg-6 col-md-6">
          <div
            class="trending__item d-sm-flex white-bg mb-30 wow fadeInUp"
            data-wow-delay=".3s"
          >
            <div class="trending__thumb mr-25">
              <div class="trending__thumb-inner fix">
                <a href="{% url 'themedetails' id=fet_temp.id %}">
                  <img
                    src="{{fet_temp.template_image.url}}"
                    alt="spellsoft"
                    height="100"
                  />
                </a>
              </div>
            </div>
            <div class="trending__content">
              <h3 class="trending__title">
                <a href="{% url 'themedetails' id=fet_temp.id %}"
                  >{{fet_temp.template_name}}</a
                >
              </h3>
              <div class="trending__meta d-flex justify-content-between">
                <div class="trending__tag">
                  <a href="#">{{fet_temp.category.category}}</a>
                </div>
                <!--<div class="trending__price">-->
                <!--  <span>Rs.{{fet_temp.template_price}}</span>-->
                <!--</div>-->
              </div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </section>
  {% endif %}
  <!-- trending area end -->

  <!-- subscribe area start -->
  <section
    class="subscribe__area p-relative pt-100 pb-110"
    data-background="{% static 'assets/img/bg/subscribe-bg.jpg' %}"
  >
    <div class="subscribe__icon">
      <img
        class="ps"
        src="{% static 'assets/img/icon/subscribe/ps.png' %}"
        alt="spellsoft"
      />
      <img
        class="wp"
        src="{% static 'assets/img/icon/subscribe/wp.png' %}"
        alt="spellsoft"
      />
      <img
        class="html"
        src="{% static 'assets/img/icon/subscribe/html.png' %}"
        alt="spellsoft"
      />
      <img
        class="f"
        src="{% static 'assets/img/icon/subscribe/f.png' %}"
        alt="spellsoft"
      />
      <img
        class="man"
        src="{% static 'assets/img/icon/subscribe/man.png' %}"
        alt="spellsoft"
      />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div
            class="subscribe__content text-center wow fadeInUp"
            data-wow-delay=".5s"
          >
            <h3 class="subscribe__title">
              Have a project? <br />
              Create your website now.
            </h3>
            <p>Try our any product for FREE!</p>
            <div class="subscribe__form wow fadeInUp" data-wow-delay=".7s">
              <form action="#">
                <input type="email" placeholder="Email Address" />
                <button type="submit" class="m-btn m-btn-black">
                  <span></span> subscribe
                </button>
              </form>
              <p>Join 20,000+ other creators in our Spell Market community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- subscribe area end -->

  <!-- cta area start -->
  <section class="cta__area pt-100 pb-60">
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div class="section__title-wrapper text-center mb-60">
            <h2 class="section__title">
              Create Your Own Online <br>Platform <span>Today</span>
            </h2>
            <p>
              Create your own online platform with our Templates and Theme Market. Our expert team will guide you through the process of designing and developing a customized website, web app and many more tailored to your unique needs. Choose from a wide range of themes and templates, to enhance your business or product visibility. With our comprehensive platform-building solutions, you can establish a strong online presence, attract targeted visitors, and achieve your business goals. Start building your platform today and stand out from the competition.

            </p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xxl-6 offset-xxl-3">
          <div
            class="cta__content text-center wow fadeInUp"
            data-wow-delay=".7s"
          >
            <a
              href="{% url 'contact' %}"
              class="m-btn m-btn-border-2 cta__btn active"
            >
              <span></span>About Us</a
            >
            <a href="{% url 'contact' %}" class="m-btn m-btn-border-2 cta__btn">
              <span></span>Contact Us</a
            >
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- cta area end -->

      <!-- brand area start -->
    {% comment %} <div class="brand__area pb-65 pt-80">
       <div class="container">
          <div class="row">
             <div class="col-xxl-12">
                <div class="brand__slider owl-carousel wow fadeInUp" data-wow-delay=".5s">
                  {% for partner in partner %}
                   <div class="brand__thumb">
                      <a href=""><img src="{{partner.logo.url}}" alt="{{partner.name}}"></a>
                   </div>
                   {% endfor %}
                </div>
             </div>
          </div>
       </div>
    </div> {% endcomment %}
    <!-- brand area end -->

  <!-- testimonial area start -->
<div class="testimonial__area pt-50 pb-115 fix">
   <div class="container">
     <div class="testimonial__inner p-relative pb-110">
       <div class="testimonial__bg p-absolute">
         <img src="{% static 'assets/img/bg/testimonial-bg.png' %}" alt="spellsoft" />
       </div>
       <div class="row">
         <div class="col-xxl-12">
           <div
             class="testimonial__slider owl-carousel wow fadeInUp"
             data-wow-delay=".5s"
           >
             {% for testimonial in testimonial %}
             <div class="testimonial__item white-bg">
               <div class="testimonial__person d-flex mb-20">
                 <div class="testimonial__avater">
                   <img src="{{testimonial.image.url}}" alt="spellsoft" />
                 </div>
                 <div class="testimonial__info ml-15">
                   <h5>{{testimonial.name}}</h5>
                   <span>{{testimonial.company_name}}</span>
                 </div>
               </div>
               <div class="testimonial__text">
                 <p>{{testimonial.testimonial}}</p>
               </div>
             </div>
             {% endfor %}
           </div>
         </div>
       </div>
     </div>
   </div>
 </div>
 <!-- testimonial area end -->
</main>
{% include 'footer.html' %}
