<section class="testimonial__area pt-105 pb-120 fix">
  <div class="container">
    <div class="row">
      <div class="col-xxl-12">
        <div class="section__title-wrapper mb-115 text-center">
          <h2 class="section__title">What our <br />Customers have to say</h2>
          <p>
            Curabitur lacus arcu, sodales in quam sed, commodo efficitur ligula.
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xxl-12">
        <div
          class="testimonial__wrapper p-relative pb-135 wow fadeInUp"
          data-wow-delay=".5s"
          style="
            visibility: visible;
            animation-delay: 0.5s;
            animation-name: fadeInUp;
          "
        >
          <div class="testimonial__shape">
            <img src="assets/img/testimonial/testimonial-shape.png" alt="" />
          </div>
          <div class="testimonial__slider-2 owl-carousel owl-loaded owl-drag">
            <div class="owl-stage-outer">
              <div
                class="owl-stage"
                style="
                  transform: translate3d(-1724px, 0px, 0px);
                  transition: all 0s ease 0s;
                  width: 3448px;
                "
              >
                <div
                  class="owl-item cloned"
                  style="width: 401px; margin-right: 30px"
                >
                  <div class="testimonial__item-2">
                    <div class="testimonial__person-wrapper">
                      <div class="testimonial__person d-flex">
                        <div class="testimonial__avater">
                          <img
                            src="assets/img/testimonial/testi-3.jpg"
                            alt=""
                          />
                        </div>
                        <div class="testimonial__info ml-15">
                          <h5>Shahnewaz Sakil</h5>
                          <span>@shahnewaz</span>
                        </div>
                      </div>
                    </div>
                    <div
                      class="testimonial__text testimonial__text-2 white-bg mt--40"
                    >
                      <p>
                        Up the duff crikey argy-bargy in my flat is faff about
                        victoria sponge brolly the lurgy bubble and squeak
                        bogstandard you mug bloke pardon you mush.
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="owl-nav disabled">
              <div class="owl-prev">
                <button><i class="fal fa-angle-left"></i></button>
              </div>
              <div class="owl-next">
                <button><i class="fal fa-angle-right"></i></button>
              </div>
            </div>
            <div class="owl-dots">
              <div class="owl-dot"><span></span></div>
              <div class="owl-dot"><span></span></div>
              <div class="owl-dot active"><span></span></div>
              <div class="owl-dot"><span></span></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
