<h1>login</h1>

<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    <div class="form-item">
        <input type="text" name="username" required="true" placeholder="Username or email" />
    </div>
    <div class="form-item">
        <input type="text" name="password" required="true" placeholder="Password" />
    </div>
    <div class="form-item">
        <input type="submit" name="submit" value="Sign In"/>
    </div>
</form>
<p>Not a member? <a href="{% url 'register' %}">Register</a></p>