{% load static %}
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Best Themes & Templates for Website, Web apps and more | Spell Market</title>
      <meta name="description" content="Explore our vast collection of themes and templates for websites, blogs, and  web apps.
      Find the perfect theme to elevate your website today. Customize beautifully designed themes for any industry.">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      
      <link rel="canonical" href="https://spellsoft.com" />

      <?xml version="1.0" encoding="UTF-8"?>
      <urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
         <url>
            <loc>https://www.spellsoft.com.np/</loc>
            <priority>1.0</priority>
         </url>
         <url>
            <loc>https://www.spellsoft.com.np/about</loc>
            <priority>0.8</priority>
         </url>
         <url>
            <loc>https://www.spellsoft.com.np/theme</loc>
            <priority>0.9</priority>
         </url>
         <url>
            <loc>https://www.spellsoft.com.np/about</loc>
            <priority>0.7</priority>
         </url>
         <url>
            <loc>https://www.spellsoft.com.np/contact</loc>
            <priority>0.7</priority>
         </url>
         <!-- Add more URLs as needed -->
      </urlset>



      
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
      <!-- CSS here -->
      <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/backToTop.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontAwesome5Pro.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/elegantFont.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>