{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Spell Market </title>
      <meta name="description" content="">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
      <!-- CSS here -->
      <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/backToTop.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontAwesome5Pro.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/elegantFont.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
   </head>