{% load static %}
<!doctype html>
<html class="no-js" lang="en">
   <head>
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="ie=edge">
      <title>Spell Market-Best Themes & Templates for Website, Web apps </title>
      <meta name="description" content="Explore our collection of themes and templates for websites, blogs, and  web apps. Customize beautifully designed themes and templates  for your business.">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="keywords" content=" Software development , Custom Templates, Spellsoft, graphic design, web design, website design, ecommerce website design, ecommerce webapp design, in Kathmandu Nepal,Temaplates , themes,buy tenplates ,free templates ,free themes, paid templates, paid themes " />
      <link rel="canonical" href="https://spellsoft.com.np" />
      
      <script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Spell Market-Best Themes & Templates for Website, Web apps market in Nepal",
    "description": "We specialize in providing high-quality designs for websites, blogs, web applications , graphic template and many more.",
    "url": "https://spellsoft.com.np/",
    "logo": "https://spellsoft.com.np/static/assets/img/logo/logo.png",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "Mid-Baneshwor",
      "addressLocality": "Kathmandu",
      "addressRegion": "Bagmati",
      "postalCode": "44660",
      "addressCountry": "Nepal"
    },
    "telephone": "01-5910781",
    "openingHours": "Mo-Fr 09:00 A.M.-6:00 P.M.",
    "sameAs": [
      "https://www.facebook.com/spellinnovation",
      "https://twitter.com/SpellInnovation",
      "https://www.instagram.com/yourbusiness"
      "https://www.linkedin.com/company/spellinnovation/mycompany"
      "tiktok.com/@spellinnovation"
    ]
  }
  </script>
      
      
      
      <!-- Place favicon.ico in the root directory -->
      <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.png' %}">
      <!-- CSS here -->
      <link rel="stylesheet" href="{% static 'assets/css/preloader.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/slick.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/meanmenu.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/owl.carousel.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/animate.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/backToTop.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/jquery.fancybox.min.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/fontAwesome5Pro.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/elegantFont.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/default.css' %}">
      <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
      <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QCH2V2FJFM"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
     gtag('js', new Date());
    gtag('config', 'G-QCH2V2FJFM');
    </script>
   </head>