{% include 'header.html' %} {% load static %}
<main>
  <!-- bg shape area start -->
  <div class="bg-shape">
    <img src="{% static 'assets/img/shape/shape-1.png' %}" alt="spellsoft" />
  </div>
  <!-- bg shape area end -->

  <!-- product area start -->
  <section class="product__area po-rel-z1 pt-100 pb-115 grey-bg">
    <div class="container">
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 order-lg-first order-last">
          <div class="product__sidebar mr-30">
            <div class="product__sidebar-widget white-bg mb-30">
              <div class="sidebar__widget mb-20">
                <form action="" method="post">
                  {% csrf_token %}
                  <div
                    class="sidebar__widget-head d-flex align-items-center justify-content-between"
                  >
                    <h4 class="sidebar__widget-title">Category</h4>

                    <button type="submit" class="sidebar__clear-btn">
                      <i class="fal fa-repeat"></i>Clear
                    </button>
                  </div>
                  <div class="sidebar__widget-content">
                    <div class="sidebar__check-wrapper">
                      <ul>
                        {% for category in category %}
                        <li
                          class="d-flex justify-content-between align-items-center"
                        >
                          <div class="sidebar__check d-flex align-items-center">
                            {% if catagory_selected != category.id %}
                            <input
                              class="m-check-input"
                              type="radio"
                              name="catageory"
                              value="{{category.id}}"
                              id="catageory_form_{{category.name}}"
                            />

                            {% else %}
                            <input
                              checked
                              class="m-check-input"
                              type="radio"
                              name="catageory"
                              value="{{category.id}}"
                              id="catageory_form_{{category.name}}"
                            />
                            {% endif %}
                            <label
                              class="m-check-label"
                              for="catageory_form_{{category.name}}"
                              >{{category.name}}
                            </label>
                          </div>
                          <span>{{category.count}}</span>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <button
                    type="submit"
                    class="sidebar__clear-btn py-3 d-flex align-items-center px-4"
                  >
                    Apply Filter
                  </button>
                  {% comment %}
                  <input
                    type="submit"
                    value="Apply Filter"
                    class="sidebar__clear-btn"
                  />
                  {% endcomment %}
                </form>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-8 col-xl-8 col-lg-8">
          <div class="row" id="tempelate">
            {% if template %} {% for template in template %}
            <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
              <div
                class="product__item white-bg mb-30 wow fadeInUp"
                data-wow-delay=".3s"
              >
                <div class="product__thumb">
                  <div class="product__thumb-inner fix w-img">
                    <a href="{% url 'themedetails' id=template.id %}">
                      <img src="{{template.template_image.url}}" alt="spellsoft" />
                    </a>
                  </div>
                  <div class="product__thumb-btn transition-3">
                    <a
                      href="{% url 'themedetails' id=template.id %}"
                      class="m-btn m-btn-6 mb-15"
                    >
                      Learn More
                    </a>
                    <a
                      href="{{template.template_url}}"
                      target="_blank"
                      class="m-btn m-btn-7"
                    >
                      Preview Project
                    </a>
                  </div>
                </div>
                <div class="product__content">
                  <div
                    class="product__meta mb-10 d-flex justify-content-between align-items-center"
                  >
                    <div class="product__tag">
                      <a href="#">{{template.category}}</a>
                    </div>
                    <div class="product__price">
                      <span>Rs.{{template.template_price}}</span>
                    </div>
                  </div>
                  <h3 class="product__title">
                    <a href="{% url 'themedetails' id=template.id %}"
                      >{{template.template_name}}</a
                    >
                  </h3>
                  <!-- <p class="product__author">by <a href="#">template Pure</a> in <a href="#">Templates</a></p> -->
                </div>
              </div>
            </div>
            {% endfor %} {% else %}
            <h1>No templates to show</h1>
            {%endif%}
          </div>

          <div class="row">
            <div class="col-xxl-12">
              <div
                class="basic-pagination wow fadeInUp text-center mt-20"
                data-wow-delay=".2s"
              >
                <ul>
                  {% if template.has_previous %}
                  <li>
                    <a href="?page={{template.previous_page_number }}">
                      <i class="arrow_left"></i>
                    </a>
                  </li>
                  {% endif %} {% for num in template.paginator.page_range %}
                  {%if template.number == num %}
                  <li class="active">
                    <a href="?page={{ num }}">
                      <span>{{num}}</span>
                    </a>
                  </li>

                  {% elif num > template.number|add:'-5' and num < template.number|add:'5' %}
                  <li>
                    <a href="?page={{ num }}"> {{num}} </a>
                  </li>
                  {% endif %} {% endfor %} {% if template.has_next %}
                  <li>
                    <a href="?page={{ template.next_page_number }}">
                      <i class="arrow_right"></i>
                    </a>
                  </li>
                  {% endif %}
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- product area end -->

  <!-- banner area start -->
  <!--<section class="banner__area pb-90">-->
  <!--  <div class="container">-->
  <!--    <div class="row">-->
  <!--      <div class="col-xxl-6 col-xl-6 col-md-6">-->
  <!--        <div-->
  <!--          class="banner__item mb-30 wow fadeInUp"-->
  <!--          data-wow-delay=".3s"-->
  <!--          data-background="{% static 'assets/img/banner/banner-1.jpg' %}"-->
  <!--        >-->
  <!--          <h3 class="banner__title">-->
  <!--            Designers who changed the web with Markit-->
  <!--          </h3>-->
  <!--          <p>-->
  <!--            He lost his bottle that zonked spend a penny young delinquent-->
  <!--            bugger.-->
  <!--          </p>-->
  <!--          <a href="about.html" class="m-btn m-btn-white banner__more">-->
  <!--            <span></span> Learn More</a-->
  <!--          >-->
  <!--        </div>-->
  <!--      </div>-->
  <!--      <div class="col-xxl-6 col-xl-6 col-md-6">-->
  <!--        <div-->
  <!--          class="banner__item mb-30 wow fadeInUp"-->
  <!--          data-wow-delay=".7s"-->
  <!--          data-background="{% static 'assets/img/banner/banner-2.jpg' %}"-->
  <!--        >-->
  <!--          <h3 class="banner__title">-->
  <!--            Professional Websites are made by Markit-->
  <!--          </h3>-->
  <!--          <p>-->
  <!--            He lost his bottle that zonked spend a penny young delinquent-->
  <!--            bugger.-->
  <!--          </p>-->
  <!--          <a href="about.html" class="m-btn m-btn-white banner__more">-->
  <!--            <span></span> Learn More</a-->
  <!--          >-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->
  <!--</section>-->
  <!-- banner area end -->

  <!-- subscribe area start -->
  <section
    class="subscribe__area p-relative pt-100 pb-110"
    data-background="{% static 'assets/img/bg/subscribe-bg.jpg' %}"
  >
    <div class="subscribe__icon">
      <img
        class="ps"
        src="{% static 'assets/img/icon/subscribe/ps.png' %}"
        alt="spellsoft"
      />
      <img
        class="wp"
        src="{% static 'assets/img/icon/subscribe/wp.png' %}"
        alt="spellsoft"
      />
      <img
        class="html"
        src="{% static 'assets/img/icon/subscribe/html.png' %}"
        alt="spellsoft"
      />
      <img
        class="f"
        src="{% static 'assets/img/icon/subscribe/f.png' %}"
        alt="spellsoft"
      />
      <img
        class="man"
        src="{% static 'assets/img/icon/subscribe/man.png' %}"
        alt="spellsoft"
      />
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xxl-12">
          <div
            class="subscribe__content text-center wow fadeInUp"
            data-wow-delay=".3s"
          >
            <h3 class="subscribe__title">
              Have a project? <br />
              Create your website now.
            </h3>
            <p>Try our any product for FREE!</p>
            <div class="subscribe__form wow fadeInUp" data-wow-delay=".5s">
              <form action="#">
                <input type="email" placeholder="Email Address" />
                <button type="submit" class="m-btn m-btn-black">
                  <span></span> subscribe
                </button>
              </form>
              <p>Join 20,000+ other creators in our Markit community.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- subscribe area end -->
</main>

{% include 'footer.html' %}
